section#new {
  
}
section#new div.wrap {
  
  background-image: url(../img/newback.jpg);
  padding: 100px 0 50px 0;
  box-sizing: border-box;
  background-size: cover;
  position: relative;
}
section#new div.wrap div.first {
  line-height: 3;
}
section#new div.wrap div.first h2 {
  
}
section#new div.wrap div.first h2::before{
  content: "";
  width: 38px;
  height: 65px;
  display: block;
  background-image: url(../img/new.png);
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;  
}
section#new div.wrap div.first p {
  
}
section#new div.wrap div.first a.more {
  margin-top: 30px;
  margin-bottom: 50px;
}
section#new div.wrap div.container{
  position: relative;
}
section#new div.wrap div.container div.hidden{
  width: 1562px;
}
section#new div.wrap div.container div.hidden ul.list {

}
section#new div.wrap div.container div.hidden ul.list li.product {
  
  padding: 5px;
  box-sizing: border-box;
  width: 390.5px;
  height: 503.5px;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon {

  position: relative;
  height: 380.5px;
  overflow: hidden;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon li.imgbox{

  width: 100%;
  height: 380.5px;
  position: absolute;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon li.imgbox::before{
  content: "New";
  width: 45px;
  height: 28px;
  display: block;
  font-size: 15px;
  text-align: center;
  line-height: 27px;
  background-color: #333333;
  color: #F5E2D2;
  box-sizing: border-box;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 1;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon li.imgbox a.img {
  display: block;
  width: 100%;
  height: 380.5px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon>li:nth-child(1) a.img{
  position: absolute;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon>li:nth-child(2) a.img{
  position: absolute;
  top: 0;
}
section#new div.wrap div.container div.hidden ul.list li.product ul.imgcon > li:nth-child(2) a.img:hover{
  
  transform: scale(110%);
}
section#new div.wrap div.container div.hidden ul.list li.newcontents1 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli1a.jpg);
  transition: all 1s;
}
section#new div.wrap div.container div.hidden ul.list li.newcontents2 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli2a.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents3 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli3a.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents4 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli4a.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents5 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli5a.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents6 ul.imgcon>li:nth-child(1) a.img{
  background-image: url(../img/newli6a.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents1 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli1b.jpg);
  transition: all 1s;
}
section#new div.wrap div.container div.hidden ul.list li.newcontents2 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli2b.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents3 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli3b.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents4 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli4b.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents5 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli5b.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.newcontents6 ul.imgcon>li:nth-child(2) a.img{
  background-image: url(../img/newli6b.jpg);  
}
section#new div.wrap div.container div.hidden ul.list li.product div.subcontainer {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #FAFAFA;
  box-sizing: border-box;
}
section#new div.wrap div.container div.hidden ul.list li.product div.subcontainer h3 {
  order: 2;
}
section#new div.wrap div.container div.hidden ul.list li.product div.subcontainer p.hash {
  order: 1;
  padding: 0;
  margin-bottom: 3px;
  color: #79797D;
}
section#new div.wrap div.container div.hidden ul.list li.product div.subcontainer p.price {
  order: 3;
  margin-top: 20px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: white;
}
section#new div.wrap div.container div.hidden ul.list .slick-prev{
  width: 18px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  left: -25px;
}
section#new div.wrap div.container div.hidden ul.list .slick-prev::before{
  background-image: url(../img/arrow.png);
  width: 18px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-size: contain;
  background-position: center;
  content: "";
}
section#new div.wrap div.container div.hidden ul.list .slick-next{
  width: 18px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  right: -25px;
}
section#new div.wrap div.container div.hidden ul.list .slick-next::before{
  background-image: url(../img/arrow.png);
  width: 18px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}