section#product {
  
}
section#product div.wrap {
  background-color: #FBF3EB;
}
section#product div.wrap h2 {
  
}
section#product div.wrap ul{
  
}
section#product div.wrap ul li{
  width: calc( 100% / 5 );
  text-align: center;
  line-height: 3;
}
section#product div.wrap ul li a{
  
}
section#product div.wrap ul li.product1 a::before{
  background-image: url(../img/product1.png);
}
section#product div.wrap ul li.product2 a::before{
  background-image: url(../img/product2.png);
}
section#product div.wrap ul li.product3 a::before{
  background-image: url(../img/product3.png);
}
section#product div.wrap ul li.product4 a::before{
  background-image: url(../img/product4.png);
}
section#product div.wrap ul li.product5 a::before{
  background-image: url(../img/product5.png);
}
section#product div.wrap ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
section#product div.wrap ul li a::before{
  content: "";
  display: block;
  max-width: 100%;
  height: 380px;
  background-size: contain;
  background-repeat: no-repeat;
}
section#product div.wrap ul li a h3 {
  
}
section#product div.wrap ul li a p {
  
}