div#title {
  
}
div#title div.wrap {
  
  margin-bottom: 0;
}
div#title div.wrap div.titleimg {
  
  position: relative;
}
div#title div.wrap div.titleimg div.explain {
  
  position: absolute;
  bottom: 21%;
  left: 8%;
  line-height: 1.8;
  color: #111111;
}
div#title div.wrap div.titleimg div.explain h2 {
  
  font-weight: 800;
}
div#title div.wrap div.titleimg div.explain p {
  
  font-size: 20px;
  font-weight: 500;
}
div#title div.wrap div.titleimg a {
  
  max-height: 941px;
  display: block;
  overflow: hidden;
}
div#title div.wrap div.titleimg a.pc{

}
div#title div.wrap div.titleimg a.mobile{
  display: none;
}
div#title div.wrap div.titleimg a img {
  
  object-fit: fill;
}
div#title div.titleani .slick-dots{
  bottom: 125px;
  width: 80%;
  left: 10%;
  border-bottom: 1px solid rgba(166,166,166,0.5);
  height: 1px;
  box-sizing: border-box;
}
div#title div.titleani .slick-dots li{
  
  height: 1px;
  top: -10px;
  margin: 0;
  width: 10%;
}
div#title div.titleani .slick-dots li button{
  
  height: 1px;
  width: 100%;
}
div#title div.titleani .slick-dots li button::before{
  
  height: 1px;
  content: "";
  border-bottom: 3px solid white;
  top: -1px;
  box-sizing: border-box;
  border-radius: 10%;
  width: 100%;
}
